{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"no-console": 2,
		// i cant find a way to resolve async function when inside an event listener
		// so i'm setting this to off
		"no-async-promise-executor": 0,
		"@typescript-eslint/ban-ts-comment": 1
	}
}